body, .navbar{
    font-family: 'Space Grotesk', sans-serif;

}

h1, h6{
    text-align: center;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
.container, #solution {
    margin: 0 auto;
    width: 50%;
    padding-right: 0; /* Add this line to remove right padding */
    padding-left: 0;

  }
.navbar-header {
    width: 100%;
}
  
.navbar-brand {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
  
.navbar-nav {
    width: 100%;
}
  
.cell {
    min-width: 50px;
    min-height: 50px;
    max-width: 70px;
    max-height: 70px;
    padding: 0;
    margin: 0;
    
}
  