body, .navbar{
    font-family: 'Space Grotesk', sans-serif;

}

h1, h4{
    text-align: center;
}

.center, .container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.navbar-header {
    width: 100%;
}
  
.navbar-brand {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
  
.navbar-nav {
    width: 100%;
}
  
.navbar-toggler {
    margin-right: 2;
}

.cell {
    min-width: 50px;
    min-height: 50px;
    max-width: 70px;
    max-height: 70px;
    padding: 0;
    margin: 0;
    
}

.checkmark {
  font-size: 24px;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden; /* Initially hide the checkmark */
}

.cell.correct {
  background-color: green; /* Style for correct cells */
}

.cell.correct .checkmark {
  visibility: visible; /* Show the checkmark for correct cells */
}
  